.genre-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-gap: rem(24px);
    min-width: rem(432px);

    @media (max-width: 770px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        min-width: rem(340px);

    }

    @media (min-width: 770px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 980px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (min-width: 1300px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @media (min-width: 1700px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}