
@font-face {
    font-family: circular-light;
    src: url(../../fonts/circular/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-bold;
    src: url(../../fonts/circular/CircularStd-Bold.otf);
}